header.header
    .container
        .header__wrapper
            .header__logo LOGO
            .header__icon
            menu.header__menu
                li.header__item Item
                li.header__item Item
                li.header__item Item
                li.header__item Item
                li.header__item Item
